<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/stylesheets/header.css" rel="stylesheet">
    <title>Quantistix</title>
</head>

<body>
    <nav id="header-nav">
        
            <a id="head-Logo"></a>
            <a id="header-name">Quantistix</a>
        
      
            <ul>
                <li><a>Home</a></li>
                <li>
                    <a>Modules</a>
                    <ul>
                        <li><a href="/ESG/">ESG Tracker</a></li>
                        <li><a>Financial Analysis</a></li>
                        <li><a>Sentiment Analysis</a></li>
                    </ul>
                </li>
                <li><a>About</a>
                    <ul>
                        <li><a>Vision</a></li>
                        <li><a>Team</a></li>
                        <li><a>Research</a></li>
                    </ul>
                </li>
                <li><a>Contact</a>
                    <ul>
                        <li><a>Directions</a></li>
                        <li><a>Email</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
</body>

</html>