<!DOCTYPE html>
<html lang="en">
    <style>

        body {
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          margin: auto;
          position: relative;
          width: 960px;
        }
        
        form {
          position: absolute;
          right: 10px;
          top: 10px;
        }
        
        path {
          stroke: #fff;
          fill-rule: evenodd;
        }
        
        </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantistics</title>
</head>
<body>
  <%- include('../partials/headers.ejs') %>
  <br>
    <%- body %>  
</br> 
</body>
</html>